a {
    text-decoration: none;
    color: inherit;
    width: 100%;
}

h1, h2, h3{
    font-weight: initial;
}

p{
    line-height: 1.75rem;
}

img{
    width: 100%;
}

[type='radio']{
    margin-right: 4px;
}

.i-right{
    margin-right: 8px;
}

.i-left{
    margin-left: 8px;
}

.i-top{
    margin-top: 8px;
}

.i-bottom{
    margin-bottom: 8px;
}

.i-hover{
    cursor: pointer;
    transition: .3s ease;
}

.i-hover:hover{
    color: #51bcda;
}

.i-gray{
    color: gray;
}

.bubble{
    border-radius: 8px;
    box-shadow: 0 0 20px 0 #3333337a;
}

@keyframes fadein {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes fadeinFromTop {
    0%{
        top: 40%;
        opacity: 0;
    }
    100%{
        top: 50%;
        opacity: 1;
    }
}

.fadein{
    animation: fadein .3s ease 0s 1 normal forwards;
    z-index: 1;
}

.fadeinfromtop{
    animation: fadeinFromTop .3s ease 0s 1 normal forwards;
    z-index: 1;
}

.display{
    display: flex !important;
}

.nodisplay{
    display: none !important;
}

.centeredform{
    display: flex;
    flex-flow: column;
    width: 75%;
    margin: 0 auto 1rem auto;
}

input, select{
    padding: 10px 10px 10px 18px;
    border-radius: 25px;
    outline: none;
    transition: .3s ease;
    border: 1px solid #e4e4e4;
}

label:focus-within i{
    color: #51bcda;
}

label:focus-within input{
    border: 1px solid #51bcda;
}

button{
    padding: 10px;
    border: 1px solid #e4e4e4;
    border-radius: 25px;
    transition: .3s ease;
    cursor: pointer;
    background: none;
    color: inherit;
    outline: none;
}

button:hover{
    background-color: #51bcda;
    color: white;
}

button:active{
    background-color: #51b7d5;
}

hr{
    height: 0;
    border: 1px solid #e4e4e4;
    margin: .5rem 0 2rem 0;
}

label{
    position: relative;
}

.label-i{
    position: absolute;
    font-size: 20px;
    color: #ccc;
    top: -7px;
    left: -7px;
    transition: .3s ease;
}

form input{
    margin-bottom: 1.5rem;
    width: 100%
}

.height-100{
    height: 100%;
}

.height-50{
    height: 50%;
}

.width-100{
    width: 100%;
}

.width-75{
    width: 75%;
}

.width-50{
    width: 50%;
}

.width-25{
    width: 25%;
}

.marg-right{
    margin-right: 1rem;
}

.marg-left{
    margin-left: 1rem;
}

.marg-bot{
    margin-bottom: 1rem;
}

.marg-top{
    margin-top: 1rem;
}

.marg-bot-2{
    margin-bottom: 2rem;
}

.labelblock{
    display: block;
}

.br{
    border-radius: 8px;
}

.disabled, .disabled-a{
    pointer-events: none;
    background-color: #e4e4e4;
    color: #454545;
}

.button-a{
    width: unset;
    border-radius: 25px;
}

.posabs{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/**LOADING ANIMATION **/
@keyframes ldio-qw71tr0evte {
    0% { transform: rotate(0) }
    100% { transform: rotate(360deg) }
}

.ldio-qw71tr0evte div { box-sizing: border-box!important }

.ldio-qw71tr0evte > div {
    position: absolute;
    width: 76px;
    height: 76px;
    top: 62px;
    left: 62px;
    border-radius: 50%;
    border: 4px solid #000;
    border-color: #51bcda transparent #51bcda transparent;
    animation: ldio-qw71tr0evte 1.2048192771084336s linear infinite;
}

.ldio-qw71tr0evte > div:nth-child(2) { border-color: transparent }

.ldio-qw71tr0evte > div:nth-child(2) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}

.ldio-qw71tr0evte > div:nth-child(2) div:before, .ldio-qw71tr0evte > div:nth-child(2) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 4px;
    height: 4px;
    top: -4px;
    left: 32px;
    background: #51bcda;
    border-radius: 50%;
    box-shadow: 0 72px 0 0 #51bcda;
}

.ldio-qw71tr0evte > div:nth-child(2) div:after {
    left: -4px;
    top: 32px;
    box-shadow: 72px 0 0 0 #51bcda;
}

.loadingio-spinner-dual-ring-uq8lhoxnro {
    width: 150px;
    height: 150px;
    display: inline-block;
    overflow: hidden;
    background: #ffffff;
}

.ldio-qw71tr0evte {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}

.ldio-qw71tr0evte div { box-sizing: content-box; }
/**END LOADING ANIMATION **/

.selectable{
    cursor: pointer;
}

.selected-bg{
    background-color: #51bcda !important;
    color: #fff;
}

.selected-bg:hover{
    background-color: #51bcda !important;
}

.drilldownwrapper{
    height: 100%;
}

.drilldown{
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.drilldown:last-child{
}

.drilldown-goals, .drilldown-trials, .drilldown-trialmeta{
    flex: 1;
    margin-right: 1rem;
    border: 1px solid #e4e4e4;
    border-radius: 8px;
    padding: 10px 1rem;
}

.drilldown-goals{

}

.drilldown-trialmeta{
    margin-right: 0;
}

.flex-center-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row nowrap;
}

.float-left{
    float: left;
}