
@keyframes fadein {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes fadeinFromTop {
  0%{
    top: 40%;
    opacity: 0;
  }
  100%{
    top: 50%;
    opacity: 1;
  }
}

@keyframes fadeInFromBottom{
  to{
    bottom: 2rem;
    opacity: 1;
  }
}

.fadein{
  animation: fadein .3s ease 0s 1 normal forwards;
  z-index: 1;
}

.fadeinfromtop{
  animation: fadeinFromTop .2s ease 0s 1 normal forwards;
  z-index: 1;
}

.fadeInFromBottom{
  animation: fadeInFromBottom .1s ease 0s 1 normal forwards;
  z-index: 1;
}

.loadingSpinner{
  animation: ldio-qw71tr0evte 1.2048192771084336s linear infinite;
}

/**LOADING ANIMATION **/
@keyframes ldio-qw71tr0evte {
  0% { transform: rotate(0) }
  100% { transform: rotate(360deg) }
}

.ldio-qw71tr0evte > div {
  position: absolute;
  @include wid-hei(94px, 94px);
  border-radius: 50%;
  border: 4px solid $black;
  border-color: $primary transparent $primary transparent;
  animation: ldio-qw71tr0evte 1.2048192771084336s linear infinite;
}

.ldio-qw71tr0evte > div:nth-child(2) { border-color: transparent }

.ldio-qw71tr0evte > div:nth-child(2) div:before, .ldio-qw71tr0evte > div:nth-child(2) div:after {
  content: "";
  display: block;
  position: absolute;
  @include wid-hei(4px, 4px);
  top: -4px;
  left: 32px;
  background: $primary;
  border-radius: 50%;
  box-shadow: 0 72px 0 0 $primary;
}

.ldio-qw71tr0evte > div:nth-child(2) div:after {
  left: -4px;
  top: 32px;
  box-shadow: 72px 0 0 0 $primary;
}

.loadingio-spinner-dual-ring-uq8lhoxnro {
  @include wid-hei(100%, 100%);
  z-index: 4;
  background-color: #ffffff50;
}

.ldio-qw71tr0evte {
  @include wid-hei(100px, 100px);
  @include pos-abs-cen;
}

.ldio-qw71tr0evte div { box-sizing: content-box; }
/**END LOADING ANIMATION **/