
.dashboardwrapper{
  @include wid-hei(100%, 100%);
  position: relative;
  font-family: Montserrat, sans-serif;
  @include flex;
}

.sidebarwrapper{
  @include wid-hei(100%, 100%);
  max-width: 50px;
  background:#334A52;
  color: $lig-gra;
  font-size: 12px;
  z-index: 2;
}

.sidebarexpanded{
  max-width: 150px;
  box-shadow: -11px 0 20px 5px black;
}

.sidebar{
  @include flex(column, $jus-con: space-between);
  height: 100%;
  font-weight: 600;
  padding-top: 1rem;
}

.sidebarheader{
  padding: 0 8px;
  margin-bottom: 1rem;
}

.sidebarheader img{
  max-width: 100px;
  margin: 0 auto;
  display: block;
}

.sidebarmain{
  height: 100%;
}

.sideitemwrapper a, .sidebarfooter .sideitem{
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  display: block;
}

.sideitemwrapper a:hover, .sidebarfooter .sideitem:hover{
  color: $white;
  border-top: 1px solid #cccccc50;
  border-bottom: 1px solid #cccccc50;
}

a.active{
  color: $primary;
}

a.active-border{
  border-top: 1px solid #cccccc50;
  border-bottom: 1px solid #cccccc50;
}

a.active.active-border:hover{
  color: $primary;
}

.itemmain{
  text-transform: uppercase;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.itemmaininner svg{
  font-size: 24px;
}

.dash-main-wrapper{
  background-color: $med-whi;
  width: 100%;
  overflow-y: auto;
}

.dash-nav{
  border-bottom: 1px solid $lig-gra;
  padding: 0 1rem;
  height: 4%;
  font-size: 1.1em;
  @include flex($ali-ite: center, $jus-con: space-between);
}

.overflow-auto{
  overflow: auto;
}

.dash-nav__breadcrumb{
  text-transform: uppercase;
}

.itemmaininner{
  @include flex($fle-flo: column, $ali-ite: center);
  text-align: center;
  padding: 1rem;
}

.bg-white{
  background: $white;
}

.transition{
  @include transition;
}
//unneeded styles
.caretflip{
  transform: rotate(180deg);
}

.dropdownwrapper{
  width: 100%;
  @include flex(column);
}

.dropdown{
  display: none;
  width: 100%;
  @include transition;
}

.dropdownactive{
  display: block;
}

.dropdown li{
  list-style: none;
  margin-bottom: 1rem;
  font-weight: 400;
}

.dropdown li a{
  @include flex($ali-ite: center);
  @include transition;
}

.dropdown li a:hover{
  color: $white;
}

.dropdown ul li:last-child{
  margin-bottom: 0;
}

.dropdown li span:first-child{
  font-size: 1rem;
  margin-right: 6px;
  opacity: .5;
  width: 30px
}

.dropdown ul{
  padding: 1rem 0 0 4px;
}
//end unneeded styles

.pad-1{
  padding: 1rem;
}

.sidebar-default-pic{
  @include bor-rad;
  width: 50px;
}

.dash-main-inner{
  position: relative;
  height: 96%;
  background-color: $white;
  padding: 1rem;
}

.cardwrapperrow{
  @include flex;
  @include wid-hei(100%, 350px);
  position: relative;
  margin-bottom: 2rem;
}

.card{
  padding: 1rem;
  @include bor-rad;
  @include box-sha;
  background-color: $white;
  overflow: auto;
  position: relative;
  @include lig-bor;
}

.cardwrapperrow .card{
  margin-right: 2rem;
}

.cardwrapperrow .card:last-child{
  margin-right: 0;
}

.profilecard{
  width: 100%;
  position: relative;
  @include flex($fle-flo: column, $jus-con: space-evenly);
}

.profilecard h2{
  text-align: center;
  color: $primary;
}

.infocard{
  width: 100%;
  //min-height: 400px;
}

.cropped {
  max-width: 150px;
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
  @include flex($ali-ite: center, $jus-con: center);
  margin: 0 auto 1rem auto;
  position: relative;
}

.addpic{
  display: none;
  background-color: #00000070;
  @include wid-hei(100%, 100%);
  position: absolute;
  align-items: center;
  justify-content: center;
  color: $white;
  font-size: 2rem;
  @include cur-poi;
}

.piccardinfo{
  width: 100%;
  padding: 1rem;
  color: $lig-gra;
  text-align: center;
}

.quote{
  margin: 1rem;
  letter-spacing: .1rem;
  font-weight: 100;
}

.infocard form{
  margin: 2rem 0 0 7px;
}

.infocard label:not(:last-of-type){
  display: inline-block;
  margin-right: 2rem;
}

.minmax{
  position: absolute;
  bottom: 0;
}

.cardheader{
  margin-bottom: 1rem;
  border-bottom: 1px solid $lig-gra;
}

.cardheader h2{
  font-weight: bold;
  margin-bottom: 8px;
}

/*************TABLE STYLES**************/

.table{
  @include lig-bor;
  border-left: none;
  border-bottom: none;
  position: relative;
}

.tr{
  display: flex;
  width: 100%;
  border-bottom: 1px solid $dar-whi;
}

/* .tbody .tr:last-of-type{
  border-bottom: none;
}
 */
.tbody .tr:nth-of-type(odd){
  background-color: $med-whi;
}

.tbody{
  & .tr{
    &:hover{
      background-color: $gray;
    }
  }
}

.th:not(:last-child) {
  border-left: 1px solid $dar-whi;
}

.th, .td{
  flex: 1;
  padding: 1rem 5px;
  display: flex;
  border-left: 1px solid $dar-whi;
  position: relative;
}

.th{
  flex-flow: column;
}

.th h3, .th p{
    user-select: none;
}

.td{
  align-items: center;
  justify-content: space-between;
}

.td-icon-cell{
  flex: .25;
  justify-content: center;
}

.td-icon{
  justify-content: flex-end;
  border-left: none !important;
}

.table input, .table select{
  @include bor-rad;
  padding: 10px 10px 10px 5px;
  width: 90%;
}

.table input:focus, select:focus        {
  border-color: $primary;
}

.tcols h3{
  font-weight: bold;
}

.getstarted{
  @include wid-hei(100%, 100%);
  background-color: $lig-gra;
  color: $med-gra;
  @include flex(column, center, center);
  @include cur-poi;
  text-align: center;
}

.goalcenter-row{
  overflow: auto;
  &-top{
    height: 39%;
  }
  &-bottom{
    height: 60%;
  }
}

.row-wrapper{
  @include flex($fle-flo: column, $jus-con: space-between);
}

.getstarted:hover{
  color: $primary;
}

/*******NUMBER PICKER STYLES*******/
.numberpickerwrapper{
  position: relative;
  @include flex($jus-con: space-between);
  width: max-content;
}

.numberinput input{
  margin: 0;
  border-radius: 0;
  width: 50px;
  padding: 10px;
  text-align: center;
  border-left: none;
  border-right: none;
}

.numbersub, .numberadd{
  background-color: $primary;
  color: $white;
  font-size: 1.3rem;
  position: relative;
  @include bor-rad;
  @include cur-poi;
  width: 38px;
}

.numbersub{
  border-radius: $rad8px 0 0 $rad8px;
  background-color: $incomplete;
}

.numberadd{
  border-radius: 0 $rad8px $rad8px 0;
}

/*******END NUMBER PICKER STYLES*******/

/*******ACCORDION STYLES*******/
.accordion{
  width: 100%;
  position: relative;
  @include lig-bor;
}

.acc-item {
  border-bottom: 1px solid $lig-gra;
  &:last-of-type{
    border-bottom: none;
  }
}

/*.acc-item:last-of-type{
  border-bottom: none;
}*/

.acc-item-head{
  @include cur-poi;
  padding: 1rem 10px;
  @include flex($jus-con: space-between);
}

.acc-item-main{
  padding: 1rem 10px 2rem 10px;
  display: none;
}
/*******END ACCORDION STYLES*******/

/*******STUDENTCARD STYLES*******/
.itemcard{
  display: inline-flex;
  min-width: 200px;
  min-height: 200px;
  flex: 1;
  flex-flow: column;
  @include cur-poi;
  @include lig-bor;
  box-shadow: none;
  position: relative;
  margin: 0 1rem 1rem 0;
  padding: 1rem;
  text-align: center;
}

.itemcardcontainer{
  @include flex($fle-flo: row wrap);
}

.itemcardhead{
  margin-bottom: 2rem;
  border-bottom: 1px solid $lig-gra;
  padding: 0 0 10px 0;
}

.itemcardhead h2{
  position: relative;
}

.itemcard-i{
  position: absolute;
  left: 0;
  top: 3px;
}

.itemcard:hover{
  box-shadow: 0 6px 10px -4px rgba(0,0,0,.15);
}

/*******END STUDENTCARD STYLES*******/

.createtrialwrapper{
  width: 100%;
}

.modalbody{
  margin: 2rem;
}

.creategoalbuttons{
  @include flex($fle-flo: column);
}

.itemsuccess{
  @include wid-hei(100%, 100%);
  @include flex($ali-ite: center);
  @include cur-poi;
  font-size: 1.3rem;
}

.grayscale{
  filter: grayscale(100%);
  &:hover{
    filter: grayscale(0);
  }
}

.comp-color{
  color: $primary;
}

.incomp-color{
  color: $incomplete;
}

/*
.grayscale:hover{
  filter: grayscale(0);
}
*/

.infocardwrapper{
  @include bor-rad;
  padding: 1rem;
  @include lig-bor;
  width: 100%;
  margin-left: auto;
}

.trialgraphwrapper{
  margin: 2rem 0;
}

.canvasjs-chart-credit{
  display: none;
}

.toasterwrapper{
  display: none;
  position: absolute;
  opacity: 0;
  bottom: 0;
  will-change: bottom, opacity;
  right: 3rem;
  min-width: 250px;
  min-height: 40px;
  background-color: $primary;
  color: $white;
  padding: 0 1rem;
  align-items: center;
  font-weight: bold;
  @include cur-poi;
}

.box{
  @include lig-bor;
  @include padding;
  background-color: $med-whi;
}

//start textarea classes

.text-area{
  background-color: white;
  border-radius: 0 0 8px 8px;
  @include lig-bor;
  padding: 0 1rem;
}

.text-area.immutable-text-area.rdw-editor-main{
  border: none;
  padding: 0;
  min-height: fit-content;
}

.rdw-editor-main{
  min-height: 300px;
}

.rdw-editor-toolbar.toolbar{
  margin-bottom: 0;
  border-radius: 8px 8px 0 0;
  border-bottom: none !important;
  @include lig-bor;
}

.modalbody .textarea-wrapper{
  max-width: none;
}

.textarea-wrapper{
  width: 100%;
  max-width: 500px;
}

.card-uploader-column{
  width: 90%;
  margin-left: auto;
}

/* DROP ZONE STYLES */

.dropfile{
  position: relative;
  @include bor-rad;
  @include lig-bor;
  width: 100%;
}

.dropfile__inner{
  position: relative;
  @include flex($ali-ite: center, $fle-flo: column, $jus-con: space-between);
}

.dropfile__label{
  height: 200px;
  width: 100%;
  text-align: center;
  @include flex($ali-ite: center, $jus-con: center);
  @include cur-poi;
  // border-radius: $rad8px $rad8px 0 0;
  @include bor-rad;
  &:hover{
    border: 2px solid $primary;
  }
}

.dropfile__text{
}

#dropfile-input{
  display: none;
}

.dropfile__inner__filechip{
  padding: 0 8px 8px 8px;
  width: 100%;
}

.filechip-size{
  margin-top: 8px;
}

.filechip-wrapper{
  display: flex;
  flex-flow: row wrap;
}

.filechip{
  @include cur-poi;
  margin: 8px 8px 0 0;
  @include flex($fle-flo: row nowrap, $ali-ite: center);
  position: relative;
}

.filechip__text{
  padding: .45rem .65rem;
  border: 1px solid $primary;
  border-radius: 25px;
  font-size: 12px;
  &:hover{
    color: $black;
  }
}

.filechip__icons{
  color: $white;
  font-size: 1.3rem;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 25px;
  @include wid-hei(100%, 100%);
  z-index: 2;
  background-color: $opacity-bg;
  & svg:hover{
    color: $primary;
  }
  display: none;
}

.form-element-wrapper{
  width: 100%;
}

.border-green{
  border: 1px solid $success;
}

.display-centered{
  @include flex($ali-ite: center, $jus-con: center);
}

.hidden{
  visibility: hidden;
}

.pos-rel{
  position: relative;
}

.table-textarea{
    background-color: $white;
    position: absolute;
    @include box-sha($opa: .75);
    bottom: 0;
    z-index: 2;
    min-width: 200%;
    max-width: 500px;
    &__editor{
      max-height: 450px;
      overflow: auto;
    }
}