$black: #000000;
$dar-bla: #121212;
$med-bla: #232323;
$lig-bla: #343434;

$dar-gra: #454545;
$med-gra: #66615b;
$gray-3: #9c9c9c;
$lig-gra: #cccccc;
$gray: #d7d7d7;

$dar-whi: #e4e4e4;
$med-whi: #f9f9f9;
$white: #ffffff;
$white-op: #ffffff20;
$white-op-med: #ffffff50;
$white-op-lig: #ffffff80;

$incomplete: #f44336;
$success: #228B22;

$primary: #51bcda;
$primary-mono: #2BA9CD;
$primary-med: #96AFB8;
$primary-dark: #334A52;

$opacity-bg: #00000070;
$opacity-bg-med: #00000050;
$opacity-bg-lig: #00000030;

$rad8px: 8px;

//analogous colors
$pri-anl1: #5177DA;
$pri-anl2: #51DAB3;

$pri-com: #DA6F51;
