@import "./_variables";
@import "./_mixins";
@import "./_root-elements";
@import "./_breakpoints";
@import "./_animations";
@import "./_dashboard-styles";
@import "./_shared-styles";
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600&display=swap');

/*
Naming conventions for methods, variables
spell out single words
or
first 3 letters concatenated with hyphens
 */

.App{
  @include wid-hei(100%, 100%);
  position: relative;
}

.modal-opened{
  overflow: hidden;
}

.herocontainer{
  background:
          url("../images/side-view-child-tutor-home-learning.jpg")
          center / cover
          no-repeat
          fixed;
  @include wid-hei(100%, 70%);
  position: relative;
  overflow: hidden;
}

.hero-overlay{
  position: absolute;
  @include wid-hei(100%, 100%);
  background-color: #66615b70;
}

.homeheader{
  background-color: $primary-med;
  padding: .5rem 0;
  @include box-sha();
  position: relative;
  z-index: 1;
}

.homeheader-inner{
  @include flex($ali-ite: center, $jus-con: space-between);
  color: $white;
  width: 100%;
  margin: 0 auto;
  max-width: 1400px;
}

.homeheader img{
  max-width: 200px;
}

.homeheader .promptcontainer{
  width: 200px;
  @include flex($ali-ite: center, $jus-con: space-between);
}

.navdiv-hover:hover{
  color: $dar-gra;
}

.promptcontainer div{
  @include flex($ali-ite: center);
}

.herotext{
  @include pos-abs-cen();
  color: $white;
  text-shadow: 0 2px 4px RGB(0 0 0 / 50%);
  text-align: center;
  //margin: 1rem;
}

.herotext h1{
  font-size: 3rem;
}

.herotext h2, .beta-inner h2, .benefits-inner h2{
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.herotext p {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.modal{
  background: $white;
  @include wid-hei(100%, 100%);
  color: $dar-gra;
  overflow: auto;
}

.modal-lg{
  @include wid-hei(85%, 85%);
}

.modal-exit{
  position: absolute;
  top: -30px;
  right: -30px;
  font-size: 2rem;
  color: $primary;
  @include cur-poi;
  @include transition;
  &:hover{
    color: $dar-gra;
  }
}

.formcontainer{
  min-width: 400px;
}

.modalwrapper{
  z-index: 3;
  display: none;
  background-color: $opacity-bg;
  @include wid-hei(100%, 100%);
  position: absolute;
  top: 0;
  left: 0;
}

.summary-wrapper{
  min-height: 350px;
  padding: 5rem 0;
  width: 100%;
}

.summary-inner{
  @include flex($jus-con: space-between, $fle-flo: row wrap);
  margin: 0 auto;
  max-width: 1400px;
}

.summary-section{
  padding: 1rem;
  flex: 1;
  position: relative;
}

.summary-section h2, .beta-inner h2{
  font-weight: 700;
}

.summary-bg-icon{
  z-index: -1;
  font-size: 15REM;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  opacity: .07;
}

.benefits-wrapper{
  padding: 5rem 0;
  width: 100%;
  background-color: $primary-dark;
  @include flex($ali-ite: center);
}

.benefits-inner{
  color: $white;
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
  &__list{
    @include flex();
    &__column{
      padding: 2rem 0;
      text-align: center;
      flex: 1;
      border-right: 1px solid $white;
      &:last-of-type{
        border-right: none;
      }
    }
  }
}

.beta-wrapper{
  padding: 5rem 0;
  width: 100%;
  height: 400px;
  background:
          url("../images/wavy-background.jpg")
          center / cover
          no-repeat
          fixed;
  @include flex($ali-ite: center);
  position: relative;
}

.beta-inner{
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
  z-index: 1;
}

.beta-overlay{
  position: absolute;
  @include wid-hei(100%, 100%);
  //background: linear-gradient(to left, $white 25%, transparent);
  opacity: .8;
  background-color: #ffffff;
}

.homepage-footer{
  color: $white;
  padding: 1rem;
  background-color: $dar-gra;
  text-align: center;
}